<link rel="stylesheet" type="text/css" href="/css/defaultpage/main.css">
<link rel="stylesheet" type="text/css" href="/slick/slick/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="/slick/slick/slick.css" />







<!--==========================carousel image==========================-->
<div class="container-fluid">
    <div class="home-page-carousel">
        {{#each carousel}}
        <a href="{{this.poster_link}}" style="cursor:pointer">
            <img src="{{this.poster_image_link}}" class="responsive-img carousel-image">
        </a>
        {{/each}}
    </div>
    <div class="crausel-slide-controls">

    </div>
</div>

<div class="card slider-button-container left-side waves-effect waves-light">
    <div class="card-content slider-button center">
        <i class="material-icons slider-button-icon">chevron_left</i>
    </div>
</div>

<div class="card slider-button-container right-side waves-effect waves-light">
    <div class="card-content slider-button center">
        <i class="material-icons slider-button-icon">chevron_right</i>
    </div>
</div>





<div class="card referal-poster center-align">
    <img src="logos/refer.png" class="responsive-img">
</div>
<div class="center-align">
    <button class="btn card btn-large button-explore explore-button-colour refer-earn-btn waves-effect waves-light" style="vertical-align:middle">
        <span>Refer Now</span>
    </button>
</div>





<div class="trending-wrapper trending">
    <div class="row">

        <div class="col m4">
            <div class="card">
                <div class="card-image">
                    <img src="/image/m1.jpg">
                    <span class="card-title">Premium T-shirts</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action center-align">
                    <button class="btn card btn-large button-explore explore-button-colour waves-effect waves-light" style="vertical-align:middle">
                        <span>Explore</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card">
                <div class="card-image">
                    <img src="/image/m2.jpg">
                    <span class="card-title">Premium Cards</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action center-align">
                    <button class="btn card btn-large button-explore explore-button-colour waves-effect waves-light" style="vertical-align:middle">
                        <span>Explore</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card">
                <div class="card-image">
                    <img src="/image/m3.jpg">
                    <span class="card-title">Premium Chocolates</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                        require little markup to use effectively.</p>
                </div>
                <div class="card-action center-align">
                    <button class="btn card btn-large button-explore explore-button-colour waves-effect waves-light" style="vertical-align:middle">
                        <span>Explore</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="main-item-section-wrapper">


    <div class="card item-list-header center-align">
        <span class="item-list-header-name">Premium Card</span>
    </div>



    <div class="card few_item_slider" id="few_item_slider">

        <div class="item-row homepage-item-list-1" id="homepage-item-list-1">





{{#each tee}}
            <div class="main-item-grid">
                <div class="card">
                    <div class="row">
                        <div class="card-image-wrapper col s12 m10 offset-m1">
                            <img src="{{this.image}}" class="responsive-img item-image-primary">
                        </div>
                        <div clas="col m1">
                        </div>
                    </div>
                    <div class="item-star center-align">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked "></span>
                        <span class="fa fa-star checked"></span>
                    </div> 
                    <div class="item-name center-align">
                        {{this.name}}
                    </div>

                    <div class="card-action center-align extra-section-in-item">
                        <div class="row">
                            <div class="col s6 center-align">
                                <p class="price-tag">
                                    <del class="red-text">&#8377 {{this.price}}</del>
                                    <span class="green-text">&nbsp &#8377 {{this.effective_price}}</span>
                                </p>
                            </div>
                            <div class="col s6">
                                <button class="waves-effect waves-light add-to-cart-button white-text tooltipped" data-tooltip="Add to cart" onclick="getItem('{{this.id}}')">
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                </button>
                            </div>

                            {{#if this.cashback}}
                                <div class="col s12 m12 l12 ">
                                    <i class="material-icons cashback-tag">local_offer</i><i class="offer">Flat &#8377 {{this.cashback}} cashback</i>
                                </div>
                            {{else}}
                                
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
{{/each}}


            


        </div>


        <div class="card slider-button-container left-side waves-effect waves-light width_of_item-section left-side2" id="left-side2">
                <div class="card-content slider-button center">
                    <i class="material-icons slider-button-icon">chevron_left</i>
                </div>
            </div>

            <div class="card slider-button-container right-side waves-effect waves-light width_of_item-section right-side2" id="right-side2">
                <div class="card-content slider-button center">
                    <i class="material-icons slider-button-icon">chevron_right</i>
                </div>
            </div>

    </div>


     <div class="card item-list-footer center-align">
        <a class="item-list-header-name">Explore All</a>
    </div>





    




    <script src="/js/store/store.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js'></script>
    <script src="/js/admin/adminreg.js"></script>
    <script>
    function getItem(id){
       window.location.replace("/item/"+id);
    }


  

    </script>
