<link type="text/css" rel="stylesheet" href="/css/user/profile.css">

	
	
<div class="myaccount-wrapper">
	<div class="row">

		<div class ="col s12 m12 x3 xl3 hide-on-med-and-down ">

			<ul class="collection card my-account-left-slot">

				<li class="collection-item avatar valign-wrapper">
					<img src="logos/user.png" alt="user" class="circle my-account-icon">
					<span class="title">Kiran Kumar Das</span>
				</li>

				<li href="#" class="collection-item valign-wrapper openpersonaldetails">
					<i class="small material-icons  my-account-icon" id="order_icon">account_circle</i>&nbsp &nbsp
					CHANGE DETAILS
				</li>

				<li href="#" class="collection-item valign-wrapper openaddresssection">
					<i class="small material-icons  my-account-icon" id="order_icon">place</i>&nbsp &nbsp
					ADDRESS
				</li>


				<li href="#" class="collection-item valign-wrapper openreferalsection">
					<i class="small material-icons  my-account-icon" id="order_icon">attach_money</i>&nbsp &nbsp
					MY REFERALS
				</li>

				<li href="#" class="collection-item valign-wrapper openmyordersection">
					<i class="small material-icons  my-account-icon" id="order_icon">assignment</i>&nbsp &nbsp
					MY ORDERS
				</li>

				<li class="collection-item valign-wrapper" onclick="GoTo('/cart')">
					<i class="small material-icons  my-account-icon" id="order_icon">shopping_cart</i>&nbsp &nbsp
					MY CART
				</li>

				<li class="collection-item valign-wrapper" onclick="GoTo('/wallet')">
					<i class="small material-icons  my-account-icon" id="order_icon">account_balance_wallet</i>&nbsp &nbsp
					MY WALLET
				</li>


				<li class="collection-item avatar valign-wrapper" onclick="GoTo('/logout')">
						<img src="logos/log_out.png" alt="user" class="circle my-account-icon">
						<span class="title">Log Out</span>
				</li>

			</ul>
		</div>
		




		<div class ="col s12 m12 x9 xl9  margin-extended">
			


			<!--edit details section-->

			<div class="card edit-details-section" id="personaldetails">
				 
				<div class="center-align my-account-heading">Personal Information &nbsp &nbsp <button class="btn-floating btn-smal edit-btn" id="activate-edit"><i class="material-icons">edit</i></button></div>
				
				<hr>
				
				<form method="POST" class="my-account-form">
					
					<div class="row">
							
						<div class="input-field col s12 m12 l12 xl12">
							<i class="material-icons prefix">account_circle</i>
							<input disabled value="{{user.name}}" id="user_first_name" type="text" class="validate editable">
							<label for="user_first_name" class="purple-text text-darken-4">Name </label>
						</div>

					</div>


					<div class="row">
							
						<div class="input-field col s12 m6 l6 xl6">
							<i class="material-icons prefix">event</i>
							<input disabled value="{{user.age}}" id="dob" type="number" class="validate editable">
							<label for="dob" class="purple-text text-darken-4">Age</label>
						</div>
	
						<div class="input-field col s12 m6 l6 xl6">
							<i class=" prefix"><img src="logos/gender.png" width="28" height="28"></i>
							<select id="gender" disabled class="validate editable">
								<option disabled selected>{{user.gender}}</option>
								<option value="male">male</option>
								<option value="female">female</option>
							</select>
							<label class="purple-text text-darken-4">Gender</label>
						</div>	
	
					</div>

					<div class="row">
							
						<div class="input-field col s12 m6 l6 xl6">
							<i class="material-icons prefix">phone</i>
							<input disabled value="{{user.phone}}" id="user_phone_number" type="number" class="validate">
							<label for="user_phone_number" class="purple-text text-darken-4">Phone Number </label>
						</div>
	
						<div class="input-field col s12 m6 l6 xl6">
							<i class="material-icons prefix">email</i>
							<input disabled value="{{user.email}}" id="user_email_id" type="email" class="validate">
							<label for="user_email_id" class="purple-text text-darken-4">Email Id</label>
						</div>
	
					</div>

					<div class="row center-align">
						<button class="btn waves-effect waves-light submit-button hide" type="submit" name="action">Save
							<i class="material-icons right">send</i>
						</button>
					</div>

					<div class="row right-align">
						<button class="waves-effect waves-light btn submit-button modal-trigger" href="#passwordchange">Change Password
							<i class="material-icons right">edit</i>
						</button>
					</div>


				</form>
			</div>




			<!--address section-->

			<div class="card edit-details-section" id="addresssection">
				
				<div class="center-align my-account-heading">Addresses <button class="waves-effect waves-light btn modal-trigger" id="add_new_address" href="#modal1"><i class="material-icons left" >control_point</i>New Address</button></div>
				
				
				<!-- ------------------------------- Modal Structure -------------------------------- -->
					<div id="modal1" class="modal form">
						<form action="/address/new" method="POST" name="new_address" id="new_address" class="new-address">
						<div class="modal-content">
							<div class="center-align my-account-heading">Add New Address</div>
							
								
										
										<div class="row">
											<div class="input-field col s12 m6">
												<input name="contact" id="contact" type="number" class="validate">
												<label for="contact">Contact Number</label>
											</div>

											<div class="input-field col s12 m6">
												<input name="landmark" id="landmark" type="text" class="validate">
												<label for="landmark">Landmark</label>
											</div>
																				
											<div class="input-field col s12 m12">
												<input  value="" id="add" name="add" type="text" class="validate">
												<label for="add">Address</label>
											</div>
											
										</div>

						</div>
						<div class="modal-footer">
							<button style="cursor:pointer" class="save waves-effect waves-light green white-text btn-flat" type="submit" value="save" name="save">Save</button>
							<a href="#!" class="modal-close waves-effect waves-light red white-text btn-flat">Close</a>
						</div>
						</form>
					</div>
				<hr>
					
				<div class="my-account-form">
							
					<div class="row">
						{{#each address}}
						<div class="col s12 m12 l8 xl8 offset-l2 offset-xl2 card Addresses">
							
							
									<span>
										<div class="row">
											<div class="input-field col s12">
												<p style="text-align: center;">Contact No :<span>{{this.contact}}</span></p>
												<p style="text-align: center;">{{this.address}}</p>
											</div>
										</div>
									</span>
							
							<div class="address-contal-btns">
								<!--<a class="waves-effect waves-light btn" id="address_1_edit"><i class="material-icons left" >edit</i>Edit</a>-->
								<a class="waves-effect waves-light btn" id="address_1_delete" onclick="deleteAddress('{{this.id}}')"><i class="material-icons left">delete</i>Delete</a>
							</div>								
							
						</div>
						{{/each}}

						
					</div>
	
				</div>
				<!-- div class="address-contal-btns">
					<a class="waves-effect waves-light btn" id="add_new_address"><i class="material-icons left" >control_point</i>New Address</a>
				</div -->


			</div>


	<!-- -------------------------------Modal Form------------------------------------ -->








			<!--My referal Section-->
			<div class="card edit-details-section" id="referalsection">
				
				<div class="center-align my-account-heading">My Referal</div>
					
				<hr>
					
				<div class="my-account-form center-align">
							
						<!--<ul class="collection">

								<li class="collection-item avatar valign-wrapper">
								  <img src="logos/user.png" alt="" class="circle">
								  <span class="title">Sourabh Bhattacharya</span>
								</li>

								<li class="collection-item avatar valign-wrapper">
									<img src="logos/user.png" alt="" class="circle">
									<span class="title">Sourabh Bhattacharya</span>
								</li>

								<li class="collection-item avatar valign-wrapper">
									<img src="logos/user.png" alt="" class="circle">
									<span class="title">Sourabh Bhattacharya</span>
								</li>

								<li class="collection-item avatar valign-wrapper">
									<img src="logos/user.png" alt="" class="circle">
									<span class="title">Sourabh Bhattacharya</span>
								</li>
							

							  </ul>-->


							  <h6>No referals</h6>
	
				</div>


			</div>






			<!--My orders-->

			<div class="card edit-details-section" id="myordersection">
				
				<div class="center-align my-account-heading">My Orders</div>
					
				<hr>
					
				<div class="my-account-form">
							
					<div class="card order-container">
						<div class="order-header">
							<p><span>ORDER ID : </span> ord-123456<br>
							<span>STATUS : </span> Shipped</p>
						</div>
						<hr>
						<div class="order-body row">
							
							<div class="col s12 m12 l4 xl4 ordered-img-holder center-align">
								<img src="logos/watch.jpg" class="responsive-img ordered-img">	
							</div>

							<div class="col s12 m12 l8 xl8 left-align order-details">
								<p>
									<span>ITEM NAME : </span>Watch<br>
									<span>ITEM ID : </span>ITM-123445<br>
									<span>PRICE : </span> 200<br>
									<span>ORDERED ON :</span>17/04/2018<br>
									<span>EXPECTED TO BE DELEVERED :</span>20/04/2018
								
								
								</p>
							</div>

						</div>
					</div>

					<div class="card order-container">
							<div class="order-header">
								<p><span>ORDER ID : </span> ord-123456<br>
								<span>STATUS : </span> Shipped</p>
							</div>
							<hr>
							<div class="order-body row">
								
								<div class="col s12 m12 l4 xl4 ordered-img-holder center-align">
									<img src="icons/watch.jpg" class="responsive-img ordered-img">	
								</div>
	
								<div class="col s12 m12 l8 xl8 left-align order-details">
									<p>
										<span>ITEM NAME : </span>Watch<br>
										<span>ITEM ID : </span>ITM-123445<br>
										<span>PRICE : </span> 200<br>
										<span>ORDERED ON :</span>17/04/2018<br>
										<span>EXPECTED TO BE DELEVERED :</span>20/04/2018
									
									
									</p>
								</div>
	
							</div>
						</div>

						<div class="card order-container">
								<div class="order-header">
									<p><span>ORDER ID : </span> ord-123456<br>
									<span>STATUS : </span> Shipped</p>
								</div>
								<hr>
								<div class="order-body row">
									
									<div class="col s12 m12 l4 xl4 ordered-img-holder center-align">
										<img src="icons/watch.jpg" class="responsive-img ordered-img">	
									</div>
		
									<div class="col s12 m12 l8 xl8 left-align order-details">
										<p>
											<span>ITEM NAME : </span>Watch<br>
											<span>ITEM ID : </span>ITM-123445<br>
											<span>PRICE : </span> 200<br>
											<span>ORDERED ON :</span>17/04/2018<br>
											<span>EXPECTED TO BE DELEVERED :</span>20/04/2018
										
										
										</p>
									</div>
		
								</div>
							</div>

				</div>
			</div>



		</div>
		
	</div><!--for row class-->
</div><!--for container class-->






<!--password changing modal-->
  	<!-- Modal Structure -->
  	<div id="passwordchange" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h5>CHANGE PASSWORD or Details</h5>
				<hr>
				<p class="red-text">This Service is Temporarily Unavailable</p>
			</div>
				<div class="modal-footer">
				<!--<a class="save waves-effect waves-light green white-text btn-flat">Save</a>-->
				<a href="#!" class="modal-close waves-effect waves-light red white-text btn-flat">Close</a>
			</div>
		</div>
				
		
		
			 







<!--mobile below nav bar-->
<div class="mobile-menu card z-depth-5 hide-on-large-only">

	<div class="mobile-menu-wrapper">
		<div class="p part1 valign-wrapper openpersonaldetails">
			<div class="icon-inner">
				<i class="material-icons small">account_circle</i>
				<p id="navbar_option">My Details</p>
			</div>
		</div>
		<div class="p part2 valign-wrapper openaddresssection">
			<div class="icon-inner">
				<i class="material-icons small">place</i>
				<p id="navbar_option">Address</p>
			</div>
		</div>
		<div class="p part3 valign-wrapper openreferalsection">
			<div class="icon-inner">
				<i class="material-icons small">attach_money</i>
				<p id="navbar_option">My Referals</p>
			</div>
		</div>
		<div class="p part4 valign-wrapper openmyordersection">
			<div class="icon-inner">
				<i class="material-icons small">assignment</i>
				<p id="navbar_option">My Orders</p>
			</div>
		</div>
		<div class="p part5 valign-wrapper" onclick="GoTo('/logout')">
			<div class="icon-inner">
				<i class="material-icons small">power_settings_new</i>
				<p id="navbar_option">Log out</p>
			</div>
		</div>
	</div>
	
</div>



<script src="/js/user/profile.js"></script>
<script>


	function GoTo(url){
        window.location.replace(url);
    }


	//delete request
    function deleteAddress(id){
        window.location.replace('/address/delete/'+id);
    }




</script>
