<link type="text/css" rel="stylesheet" href="/css/payment/payment.css">
<div class="container">
    <div class="row card">
        <div class="s-header">
            <i class="green-checked material-icons z-depth-3">check_circle</i>
            <p class="thank-you">Thank You, Order Placed !</p>                
        </div>
        <div class="s-body">
            <div class="container">
                <div class="body-head">
                    <p>Order Details <a class="btn-floating waves-effect waves-light deep-purple accent-1"><i class="material-icons">file_download</i></a></p>
                </div>
                <hr>
                <div class="body-body">
                    <p class="basic">ORDER STATUS : <span>{{this.order_status}}</span></p>
                    <p class="basic">ORDER ID : <span>{{this.order_id}}</span></p>
                    <p class="basic">PAYMENT ID : <span>{{this.payment_id}}</span></p>
                    <p class="basic">TIME STAMP : <span>{{this.date}}</span></p>
                    <p>ITEMS</p>
                    <table class="striped centered table">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each this.items}}
                            <tr>
                                <td>{{this.item_name}}</td>
                                <td>{{this.price}}</td>
                            </tr>
                            {{/each}}
                        </tbody>                       
                    </table>
                    <p>TOTAL : <span>{{this.total}}</span></p>
                    <p>NET AMOUNT (* deducting discount amount) : <span>{{this.net_amount}}</span></p>
                    <p>DELIVERY CHARGE : <span>{{this.delivery_charge}} </span></p>
                    <p>PAID: <span>{{this.amount_paid}}</span></p>
                    <div class="download-c">
                        <button download='../../assets/invoice/{{this.order_id}}.pdf' class="waves-effect waves-light btn download"><i class="material-icons right" >file_download</i>Download Invoice</button>
                    </div>
                    
                </div>
                
               
            </div>
        </div>
    </div>
</div>
</div>
